%h1 Bienvenido a la página
-if usuario_signed_in?
  =link_to "Cerrar sesión", destroy_usuario_session_path, method: :delete
c
c
c
c
%hr
c
c

c
%hr
c
c
%hr
c
%hr
c
c

c
%hr
c
c
%hr
%hr
c
c

c
%hr
c
c
%hr
%hr
c
c

c
%hr
c
c
%hr
%hr
c
c

c
%hr
c
c
%hr
}%hr
c
c

c
%hr
c
c
%hr
%hr
c
c

c
%hr
c
c
%hr
}%hr
c
c

c
%hr
c
c
%hr
%hr
c
c

c
%hr
c
c
%hr
%hr
c
c

c
%hr
c
c
%hr
%hr
c
c

c
%hr
c
c
%hr

cc
c
c
c
c


c






















ccc
c
c
c
c
cc

c
