/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 html, body{
   background-color: #f1f1f1;
   font-family: 'Open Sans', sans-serif;
   margin: 0px;
 }

 .space-entre-seccs {
   margin: 35px 0px;
 }

 .navbar-custom {
     background-color: #6b5b95;
 }
 /* change the brand and text color */
 .navbar-custom .navbar-brand,
 .navbar-custom .navbar-text {
     color: rgba(255,255,255,.8);
 }
 /* change the link color */
 .navbar-custom .navbar-nav .nav-link {
     color: rgba(255,255,255,.5);
 }
 /* change the color of active or hovered links */
 .navbar-custom .nav-item.active .nav-link,
 .navbar-custom .nav-item:hover .nav-link {
     color: #ffffff;
 }

#nav2 {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  height: 200px;
  background: #ccc;
  border: 5px solid green;
}
#ul2 {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style-type: none;
  border: 1px solid blue;
}
.litems {
  display: inline;
  font-size: 2em;
  margin: 0px;
  border: 1px solid red;
}
.litems:hover {background-color:#f5f5f5;}
